{% extends 'base.html' %} {% block content %} {% include "navbar.html" %}
<h1>{{ post.username.username }}'s Post</h1>

<strong>{{ post.username.username }}</strong><br />
<img src="{{ post.image.url }}" width="400" height="400" />
<p>
  <a href="/like/{{ post.id }}">&#129505;</a>&nbsp;<a
    href="/unlike/{{ post.id }}"
    >&#128148;</a
  >&nbsp;<a href="/">💬</a>&nbsp;{{ post.likes|add:post.dislikes }} likes
</p>
<p>
  <em>{{ post.posted_at }}</em><br />
  <a href="/post/{{ post.id }}/">{{ post.body }}</a> <br />
  {% if request.user.is_staff or request.user == post.username %}
  <a href="/delete/{{ post.id }}/"><button>Delete</button></a>
  {% endif %}
</p>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
